section.app 
  .app__decoration 
  .container.app__container 
    .section-content 
      h2 Instant Coffee At Your Home
      p Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      a.btn.btn-lg(href="#") Download our app
    .app__img 
      img(src="assets/img/app.png",
        srcset="assets/img/app@2x.png 2x",
        width="493",
        height="727",
        alt="app")