section.categories
  .categories__cup 
  .container 
    .section-title 
      h2 Explore Our Alowishus
      p A&nbsp;drink from the &lsquo;My Alowishus&rsquo; bottled brews range&nbsp;OR grab one of&nbsp;our delicious coffee&rsquo;s.
    ul.categories-list
      li.categories-card 
        h3.categories-card__title Our Catering
        .categories-card__desc Alowishus Catering, delicious drop off Catering
        .categories-card__img 
          img(src="assets/img/categories/food.svg", width="150", height="150", alt="food")
        a.btn.categories-card__btn(href="#") Order cathering
      li.categories-card
        h3.categories-card__title The Food
        .categories-card__desc Our entire menu is&nbsp;available as&nbsp;dine in&nbsp;or&nbsp;takeaway.
        .categories-card__img 
          img(src="assets/img/categories/fast-food.svg", width="150", height="150", alt="fastfood")
        a.btn.categories-card__btn(href="#") Food menu
      li.categories-card
        h3.categories-card__title The Gelato
        .categories-card__desc Life is&nbsp;like GELATO, enjoy it&nbsp;before it&nbsp;melts.
        .categories-card__img 
          img(src="assets/img/categories/ice-cream.svg", width="150", height="150", alt="ice-cream")
        a.btn.categories-card__btn(href="#") Discover more
