section.order 
  .container.order__container
    .order__img
      img(src="assets/img/three-cups.png",
        srcset="assets/img/three-cups@2x.png 2x",
        width="807",
        height="575",
        alt="three cups")
    .order__content.section-content
      h2 Order Your Favourite Coffee
      p Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      a.btn.btn-lg(href="#") Order Now