mixin reviews-stars 
  .reviews-stars
    +icon("star", 20, 20)
    +icon("star", 20, 20)
    +icon("star", 20, 20)
    +icon("star", 20, 20)
    +icon("star", 20, 20)

section.reviews
  .reviews__decor
  .reviews__decor-2
  .container.reviews__container
    .reviews__slider.reviews-slider.js-reviews-slider.swiper 
      .swiper-container 
        .swiper-slide.reviews-card
          .reviews-card__photo 
            img(src="assets/img/reviews/photo-1.jpg",
              srcset="assets/img/reviews/photo-1@2x.jpg 2x",
              alt="Brooklyn Simmons")
          .reviews-card__content
            .reviews-card__header
              h3.reviews-card__title Brooklyn Simmons
              +reviews-stars
            .reviews-card__desc &laquo;Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia&raquo;
        .swiper-slide.reviews-card
          .reviews-card__photo 
            img(src="assets/img/reviews/photo-2.jpg",
              srcset="assets/img/reviews/photo-2@2x.jpg 2x",
              alt="Imam White")
          .reviews-card__content
            .reviews-card__header
              h3.reviews-card__title Imam White
              +reviews-stars
            .reviews-card__desc &laquo;Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia&raquo;

    .reviews__content 
      h2 What Our Customers Say
      .reviews-rating 
        strong 4.9
        +reviews-stars
        span based on&nbsp;2452+ reviews
        .reviews__controls 
          button.btn-round.btn-round.btn-round--alt.js-review-prev 
            span.visually-hidden Prev
            +icon("arrow-left", 17, 17)
          button.btn-round.btn-round.btn-round--alt.js-review-next 
            span.visually-hidden Next
            +icon("arrow-right", 17, 17)