extends core/layout

block body
  include sections/hero
  .section-group 
    include sections/categories
    include sections/order
    include sections/best
    include sections/app
    include sections/reviews
    include sections/footer