extends core/layout

block body
  .container 
    h1 UI Kit
  .container.container--ui 
    aside.ui-aside
      ul.ui-nav
        li
          a(href="#typography") Типографика
        li
          a(href="#btn-links") Кнопки и ссылки 
        li
          a(href="#btn-links") Таблицы
        li
          a(href="#forms") Форма и поля ввода
        li
          a(href="#modals") Модальные окна
        li
          a(href="#tabs") Табы
        li
          a(href="#accordeons") Аккордеоны
        li
          a(href="#sliders") Слайдеры
      
    .ui-main
      section#typography
        h2 Типографика
        .h1 Heading 1
        .h2 Heading 2 
        .h3 Heading 3
        p Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение поставленных обществом и правительством задач. Разнообразный и богатый опыт рамки и место обучения кадров влечёт за собой интересный процесс внедрения модернизации модели развития.

      section#btn-links
        h2 Кнопки и ссылки
        p 
          a#link(href="#link") Ссылка
        p 
          a.link-nav(href="#") Ссылка навигации
        p 
          a.link-stroke(href="#") Подчёркнутая ссылка
        p 
          a.link-arrow(href="#")
            | Ссылка со стрелкой
            +icon("arrow-right", 30, 30)
        p 
          a.contact-link(href="#")
            span.contact-link__icon
              +icon("mail", 28, 28)
            | Ссылка контакта
        p 
          button Обычная кнопка
          =" "
          a.btn#link-btn(href="#link-btn") Ссылка в виде кнопки
          =" "
          button(disabled) Неактивная кнопка
        p 
          button.btn-lg Крупная кнопка
        p 
          | Круглая кнопка:
          button.btn-round
            span.visually-hidden Корзина
            +icon("basket", 24, 24)
          button.btn-round.btn-round--alt
            span.visually-hidden Корзина
            +icon("arrow-right", 24, 24)

      section#forms
        h2 Форма и поля ввода
        form
          h3 Форма с группами полей
          fieldset 
            legend Типы полей
            p
              +field({
                type: "email",
                inputPlaceholder: "E-mail",
                required: true
              })