button,
.btn {
	display: inline-block;
	padding: 2rem;
	color: $cl-white;
	font-size: 18px;
	font-weight: 500;
	line-height: 4rem;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: $cl-black;
	border: 0;
	border-radius: $border-radius;
	transition: background-color $tr-btn;

	&:hover {
		color: $cl-white;
	}

	&:not(:disabled) {
		cursor: pointer;
	}

	&:hover:not(:disabled) {
		background-color: lighten($cl-black, 10%);
	}

	&:active:not(:disabled) {
		opacity: $click-opacity;
	}

	&:disabled {
		background-color: rgba($cl-black, 50%);
	}
}

.btn-lg {
	padding: 2.5rem;
}

.btn-round {
	width: 7rem;
	height: 7rem;
	color: $cl-black;
	background-color: $cl-white;
	border-radius: 50%;
	box-shadow: 0px 30px 60px rgba(163, 168, 179, 0.15);

	&--alt {
		box-shadow: 0px 12px 30px rgba(205, 209, 214, 0.28);
	}

	&:hover:not(:disabled) {
		color: lighten($cl-black, 30%);
		background-color: $cl-white;
	}
}