.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	width: 100%;
	color: $heading-color;
	font-weight: 700;
}

.h1,
h1 {
	margin-bottom: 4rem;
	font-size: 124px;
	line-height: 17rem;

  @media (max-width: $md) {
		margin-bottom: 2rem;
		font-size: 72px;
		line-height: 10rem;
  }
}

.h2,
h2 {
	margin-bottom: 3rem;
	font-size: 64px;
	line-height: 9rem;

	@media (max-width: $md) {
		margin-bottom: 2rem;
		font-size: 48px;
		line-height: 7rem;
	}
}

.h3,
h3 {
	margin-bottom: 3rem;
	font-size: 40px;
	line-height: 6rem;

	@media (max-width: $md) {
		margin-bottom: 2rem;
		font-size: 24px;
		line-height: 4rem;
	}
}

.h4,
h4 {
	margin-bottom: 4rem;
	font-size: 20px;
	line-height: 3rem;

	@media (max-width: $md) {
		margin-bottom: 2rem;
		font-size: 18px;
		line-height: 3rem;
	}
}

p,
.p {
  margin: 0 0 $p-margin;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}